.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black;
    position: absolute;
    margin: 10px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    width:100%;
    height: auto;
}
.myDiv{
    border: 1px solid#333;
    width: 7rem;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 10px;
    display: inline-block;
  
}